table{

}
table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 1px;
}
.images{
    width: 50;
    height: 30;
}

/*navigation bar */
ul{
     list-style-type: none;
     display: inline;
     margin: 0;
     padding: 0;
}
ul li{
    float: left;
}
ul li a{
    display: block;
    padding: 8px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
}
li a:hover{
    background-color: rgb(59, 13, 184);
}
.active {
    background-color: #04AA6D;
}
.active:hover{
        background-color: #01613e;
}